body{
	background-color:#EDEEF0;
	margin: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
}
.head{
	height: 34px;
	background-color: #4A76A8;
}

.head a{
	text-decoration:none;
	color: white;
	font-size: 28px;
	margin-right: 25px;
}

.head a:hover{
	text-shadow: 0 0 10px black;
}

.post{
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	background-color: #FFFFFF;
	margin: 15px;
	position: relative;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.article{
	font-size: 20px;
	margin: 10px;
}

img{
	max-width: 200px;
	max-height: 300px;
	margin: 15px;
}

.more{
	text-decoration:none;
	position: absolute;
	right: 10px;
	top: 11px;
	color: gray;
	margin-left: auto;
    margin-right: 0;
}
.more:hover{
	color: #4b4b4b;
}

.text{
	margin-left: 13px;
	padding-bottom: 10px;
	width: 95%;
	word-wrap: break-word;
}

.form{
	margin-top: 25px;
}
.black_link{
	color: black;
	display: block;
	text-decoration: none;
	height: 100%;
	width: 100%;
}
.category{
	margin-top: 10px;
}
.category_link{
	color: white;
	text-decoration: none;
	margin-right: 4px;
	background-color: #4A76A8;
	border-radius: 15px;
	padding: 2px;
}
.category_link:hover{
	background-color: #223c59;
}

.user_name{
	float: right;
}